:root {
  --background_color_blue: cornflowerblue;
}

* {
  box-sizing: border-box;
}

/* General CSS */
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:var(--background_color_blue);
    overflow-y: auto;
    overflow-x: auto;
  }

  #map {
    height: 90vh;
    width: 100vw;


  }

  .navBarFavicon {
    width: 50px;
    height: 35px;
    margin-left: 90px;
  }

  /* Winky Rough Font */
  .winky-rough{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Funnel Display Font */
  .funnel-display {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Rubik Font */
  .rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Nav bar */
  .topnav {
    background-color:blueviolet;
    padding: 10px;
    font-family: "Funnel Display", sans-serif;
    justify-content:space-between ;
    display: flex;
    flex-wrap: wrap;
  }

  .topnav a:hover {
      color: black;
      background-color: #ddd;
  }

  .topnav a:active {
    color: black;
    background-color: gray;

  }

  .topnav a {
    text-decoration: none;
  }

  /* Main Function Front Page */
    .checkBox {
      border: none;
      font-family: "Rubik", sans-serif;
      width: auto;
      display: flex;
      justify-content: flex-start;
      line-height: 200%;
    }

    .front_page_text {
      font-family: "Winky Rough", sans-serif;
      text-align: center;
      line-height: 175%;
      margin-top: 5px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .titleNavBar a {
      color: white;
    }

    .secondaryLinkNavBar a {
      color:white;
    }


  .bottomSecondPageText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
  }



/* Extra Small Devices (Phones) */
@media (min-width: 0px) {
  .checkBox { font-size: 12px; }
  .front_page_text { font-size: 12px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 15px; }
  .secondaryLinkNavBar a {position: relative; top: 8px;}
  .navBarFavicon { width: 25px; height: 25px; margin-left: 0px; }
}

/* Small Devices (Phones, 321px - 600px) */
@media (min-width: 320) {
  .checkBox { font-size: 14px; }
  .front_page_text { font-size: 26px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 10px; }
  .navBarFavicon { width: 18px; height: 24px; margin-left: 5px; }
}
}

/* Medium Devices (Tablets, 601px - 1024px) */
@media (min-width: 601px) {
  .checkBox { font-size: 18px; }
  .front_page_text { font-size: 30px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 14px; }
  .navBarFavicon { width: 28px; height: 30px; margin-left: 20px; }
}

/* Large Devices (Desktops, 1025px - 1440px) */
@media (min-width: 1024px) {
  .checkBox { font-size: 22px; }
  .front_page_text { font-size: 32px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 16px; }
  .navBarFavicon { width: 25px; height: 25px; margin-left: 0px; }
}

/* Extra Large Devices (Large Screens) */
@media (min-width: 1440px) {
  .checkBox { font-size: 25px; margin-left: 60px; }
  .front_page_text { font-size: 35px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 30px; }
  .secondaryLinkNavBar a {position: relative; top: 20px; margin-right: 30px;}
  .navBarFavicon { width: 50px; height: 50px; margin-left: 40px; }
}






