:root {
  --background_color_blue: cornflowerblue;
}

/* General CSS */
    body {
      margin: 0;
      padding: 0;
<<<<<<< HEAD
      background-color: var(--background_color_blue);
      overflow-y: auto;
      overflow-x: auto;

      background-image: url('images/image.png');
      background-position: center;
      background-size: cover;
      min-height: 100vh;
=======
      height: 100%;
      background-color: var(--background_color_blue);
      overflow-y: auto;
      overflow-x: auto;
>>>>>>> refs/remotes/origin/main
    }

  #map {
    height: 92vh;
    width: 100vw;
  }

  a:visited {
    color: purple;
  }

  a:active {
    color: blue;
  }

  a:link {
    color: purple;
  }

    /* Winky Rough Font */
    .winky-rough{
      font-family: "Winky Rough", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }

    /* Funnel Display Font */
    .funnel-display {
      font-family: "Funnel Display", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }

    /* Rubik Font */
    .rubik {
      font-family: "Rubik", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
    }

      /* Nav bar */
      .topnav {
        background-color:light;
        padding: 10px;
        font-family: "Funnel Display", sans-serif;
        display: flex;
        justify-content:space-between;
        gap: 15px;
      }

      .titleNavBar a {
        color: white;

      }

      .secondaryLinkNavBar a {
        color:white;
      }

      .navBarFavicon {
      }

      .topnav a:hover {
          color: black;
          background-color: #ddd;
      }

      .topnav a:active {
        color: black;
        background-color: gray;

      }

      .topnav a {
        text-decoration: none;
      }

        /* Main Function Front Page */

        .front_page_text {
          font-family: "Winky Rough", sans-serif;
          text-align: center;
          line-height: 175%;
          margin-top: 5px;
          margin-bottom: 20px;

        }

        .bottomSecondPageText {
          font-family:"Funnel Display", sans-serif;
          text-align: center;
          font-weight: bold;
          font-size: 17px;
          margin-top:0px;
          padding: 0px;
          margin-bottom:0px;
        }

          /* Form Container Mostly Written by Claude AI*/

            .form-container {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;


              font-family: "Rubik", sans-serif;
              line-height: 300%;
            }

            .checkbox-group {
              margin: 10px;
              min-width: 250px;
              max-width: 450px;

              background-color: rgba(0, 0, 0, 0.7);;
              color: white;
            }

            .checkbox-item {
              margin-bottom: 15px;
            }

            .radio-item {
              margin-bottom: 15px;
            }

            fieldset {
              border: none;
            }

            .submit-container {
              margin-top: 10px;
              margin-bottom: 20px;
            }

            .locationSelected {

            }

            button[type="submit"] {
              padding: 8px 20px;
              font-family: "Rubik", sans-serif;
              cursor: pointer;
              
            }

<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/main
/* Media Queries (9) - Mobile First Design  */

/* Extra Small Devices (0px - 319px) */
@media (min-width: 0px) {
  .checkbox-group { font-size: 10px; }
  .front_page_text { font-size: 12px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 15px; }
  .secondaryLinkNavBar {word-spacing: 5px; margin-right: px;}
  .navBarFavicon { width: 25px; height: 15px; margin-left: 0px; }
}

/* Mobile S (320px - 374px) */
@media (min-width: 320px) {
  .checkbox-group { font-size: 15px; }
  .front_page_text { font-size: 12px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 15px; }
  .secondaryLinkNavBar {word-spacing: 5px; margin-right: 10px;}
  .navBarFavicon { width: 18px; height: 15px; margin-left: 5px; }

}

/* Mobile M (375px - 424px) */
@media (min-width: 375px) {
  .checkbox-group { font-size: 20px; }
  .front_page_text { font-size: 26px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 15px; }
  .secondaryLinkNavBar {word-spacing: 15px; margin-right: 15px;}
  .navBarFavicon { width: 18px; height: 15px; margin-left: 5px; }
}

/* Mobile L (425px - 764px) */
@media (min-width: 425px) {
  .checkbox-group { font-size: 14px; }
  .front_page_text { font-size: 26px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 17px; }
  .secondaryLinkNavBar {word-spacing: 12px; margin-right: 20px;}
  .navBarFavicon { width: 18px; height: 17px; margin-left: 5px; }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) {
  .checkbox-group { font-size: 21px; }
  .front_page_text { font-size: 30px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 26px; }
  .secondaryLinkNavBar {word-spacing: 15px; margin-right: 25px;}
  .navBarFavicon { width: 28px; height: 26px; margin-left: 20px; }
}


/* Laptops (1024px - 1239px) */
@media (min-width: 1024px) {
  .checkbox-group { font-size: 18px; }
  .front_page_text { font-size: 30px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 30px; }
  .secondaryLinkNavBar {word-spacing: 35px; margin-right: 30px;}
  .navBarFavicon { width: 28px; height: 30px; margin-left: 20px; }
}


/* Laptop L (1440px - )*/
@media (min-width: 1440px) {
  .checkbox-group { font-size: 26px; }
  .front_page_text { font-size: 30px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 35px; }
  .secondaryLinkNavBar {word-spacing: 35px; margin-right: 40px;}
  .navBarFavicon { width: 40px; height: 35px; margin-left: 30px; }
}

/* Desktop Computer ( - )*/
@media (min-width: 1800px) {
  .checkbox-group { font-size: 30px; }
  .front_page_text { font-size: 32px; }
  .titleNavBar a, .secondaryLinkNavBar a { font-size: 40px; }
  .secondaryLinkNavBar {word-spacing: 30px; margin-right: 60px;}
  .navBarFavicon { width: 40px; height: 40px; margin-left: 70px; }
}






