:root {
  --background_color_blue: cornflowerblue;
}

* {
  box-sizing: border-box;
}

/* General CSS */
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:var(--background_color_blue);
    overflow-y: auto;
    overflow-x: hidden;
  }

  #map {
    height: 92vh;
    width: 97.5vw;
  }

  /* Winky Rough Font */
  .winky-rough{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Funnel Display Font */
  .funnel-display {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Rubik Font */
  .rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  /* Nav bar */
  .topnav {
    background-color:blueviolet;
    padding: 20px;
    font-family: "Funnel Display", sans-serif;
    justify-content:space-between ;
    display: flex;
    flex-wrap: wrap;
  }

  .topnav a:hover {
      color: black;
      background-color: #ddd;
  }

  .topnav a:active {
    color: black;
    background-color: gray;

  }

  .topnav a {
    text-decoration: none;
  }

  /* Main Function Front Page */
    .checkBox {
      border: none;
      font-family: "Rubik", sans-serif;
      width: auto;
      display: flex;
      justify-content: flex-start;
      line-height: 200%;
    }

    .front_page_text {
      font-family: "Winky Rough", sans-serif;
      text-align: center;
      line-height: 175%;
      margin-top: 5px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .titleNavBar a {
      color: white;
    }

    .secondaryLinkNavBar a {
      color:white;
    }


  .bottomSecondPageText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
  }



/* Media Queries for different Display Sizes - Mobile First */

  /* Below Mobile S < 320px  */
  @media (min-width: 0px) {
    .checkBox {
      margin-left: 20px;
      font-size: 15px;
      line-height: 200%;
    }

    .front_page_text {
      font-size: 28px;
      line-height: 150%;
    }

    .titleNavBar a {
      margin-left: 0px;
      font-size: 10px;
    }

    .secondaryLinkNavBar a {
      margin-right: 0px;
      font-size: 10px;
    }
  }

  /* Mobile S - 320px */
  @media (min-width: 320px) {
    .checkBox {
      margin-left: 20px;
      font-size: 15px;
      border: none;
      line-height: 200%;
    }

    .front_page_text {
      font-size: 28px;
      line-height: 150%;
    }

    .titleNavBar a {
      margin-left: 0px;
      font-size: 10px;

    }

    .secondaryLinkNavBar a {
      margin-right: 0px;
      font-size: 10px;

    }
  }

  /* Mobile L - 425px */
  @media (min-width: 425px) {

  }

  /* Tablet - 768px */
  @media (min-width: 768px) {

  }

  /* Laptop - 1024px */
  @media (min-width: 1024px) {
    .titleNavBar a {
      margin-left: 106px;
    }
  }

  /* Laptop L - 1440px */
  @media (min-width: 1440px) {
    .checkBox {
      margin-left: 60px;
      font-size: 25px;
    }

    .front_page_text {
      font-size: 35px;
      line-height: 150%;
    }

    .titleNavBar a {
      margin-left: 0px;
      font-size: 35px;
    }

    .secondaryLinkNavBar a {
      margin-right: 30px;
      font-size: 35px;
    }
  }







